@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress {
	.bar {
		@apply z-[60] !bg-white;
	}
	.peg {
		@apply !hidden;
	}
	.spinner {
		@apply !hidden;
	}
}

.ProseMirror {
	p.is-editor-empty:first-child::before {
		@apply text-secondary-300 float-left h-0 pointer-events-none content-["Tell_us_something!"];
	}
}
